@import './app.scss';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bs-body-font-family: "Libre Franklin", sans-serif;
}

$el-blue: #364473;
$el-orange: #dd7035 ;
$lite-gray: #f6f6f6 ;

.libre-franklin-font {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fw-600 {
  font-weight: 600;
}

.bg-el-blue {
  background-color: $el-blue;
}
.bg-lite-gray{
  background-color: $lite-gray;
}
.bg-el-orange{
  background-color: $el-orange;
}
.btn.bg-el-orange:hover{
  background-color: #bf612d ;
}
.text-el-orange {
  color: $el-orange;
}
.text-el-blue {
  color: $el-blue;
}
.w-60{
  width: 60%;
}
@media(min-width:720px){
  .text-md-start{
    text-align: left;
  }
}

.form-control::placeholder {
  opacity: 0.6;
  font-size: 14px;
}
.circle{
  border-radius: 50%;
}

// login

.user-login{
  padding: 14% 10% !important;
}
@media(width <= 524px){
  .user-login{
    padding: 5% !important;
  }
}
.user-page-content{
  overflow: hidden;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// profile
.user-profile-content{
  border-radius: 18px;
  padding-right: 10%;
  padding-left: 10%;
}
.user-profile-content .label{
  font-size: 12px;
}
#profileEditModal{
  .modal-body{
    label{
      font-size: 12px;
    }
    input{
      background-color: transparent;
    }
  }
}

// alumni
.alumni-header {
  padding:130px 0 180px 0;
  position: absolute;
}
// .alumni-filter select{
//   background-color: transparent;
//   margin-bottom: 40px;
//   outline: none;
// }
.alumni-filter .dropdown-menu{
  max-height: 200px;
}
.alumni-students-section{
  position: relative;
  margin-top: 300px;
  padding:0 15%;
  .page-link.active, .active > .page-link{
    background-color: $el-blue;
    border-color: $el-blue;
    color: $lite-gray;
  }
  .page-link{
    color: $el-blue;
  }
}
@media(width <= 720px){
  .alumni-students-section{
    position: relative;
    margin-top: 345px;
    padding:0 10%;
  }
}
@media(width <= 524px){
  .alumni-header{
    padding: 100px 0;
  }
  .alumni-students-section{
    padding:0 5%;
  }
}
.alumni-students{
  .card{
    --bs-card-border-width: 12px;
    --bs-card-border-color: rgba(54,68,115,0.1);
  }
  .card p{
    font-size: 12px;
  }
  .card-body{
    padding: 5px 10px;
    background-color: rgba(54,68,115,0.1);
  }
}
.btn.bg-el-blue:hover{
  background-color: #4c587f;
}
.fs-small{
  font-size: .85rem;
}
.alumni-students .card img{
  height: 150px;
}
.height-400px{
  height: 400px;
}
.zindex-1{
  z-index: 1;
}
.w-50px{
  width:50px
}


