@import './app.scss';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bs-body-font-family: "Libre Franklin", sans-serif;
}

$el-blue: #364473;
$el-orange: #f16222 ;
$lite-gray: #f6f6f6 ;

.libre-franklin-font {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fw-600 {
  font-weight: 600;
}

.bg-el-blue {
  background-color: $el-blue;
}
.bg-lite-gray{
  background-color: $lite-gray;
}
.text-el-orange {
  color: $el-orange;
}
.text-el-blue {
  color: $el-blue;
}
.w-60{
  width: 60%;
}
@media(min-width:720px){
  .text-md-start{
    text-align: left;
  }
}
.form-control::placeholder {
  opacity: 0.6;
  font-size: 14px;
}
.circle{
  border-radius: 50%;
}
// login
.user-page{
  padding-top: 80px;
  padding-bottom: 80px;
}
.user-page-content{
  overflow: hidden;
  border-radius: 18px;
}
// profile
.user-profile-content{
  border-radius: 18px;
  padding-right: 10%;
  padding-left: 10%;
}
.user-profile-content .label{
  font-size: 12px;
}
// alumni

